/* * {
  margin: 0;
  padding: 0;
} */

body {
	font-family: 'Philosopher', sans-serif;
}


.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#radius {
  margin-right: 10px;
}

input {
	margin:10px;
	padding: 10px;
	border: 1px solid;
}
